.element {
  width: 52px;
  padding-bottom: 4px;
  height: 40px;
  border-bottom: 2px solid;
  margin: 3px;
  position: relative;
  cursor: pointer;
}
.element .lock {
  height: 12px;
}
.element:hover {
  background: black;
  color: white;
}

.atomic-no {
  font-size: 9px;
  text-align: left;
  padding: 0px 2px;
}

.name {
  font-size: 7px;
}

.disable {
  filter: opacity(0.3);
}
.symbol {
  font-size: 14px;
  font-weight: 500;
}
