.element {
  width: 52px;
  padding-bottom: 2px;
  height: 48px;
  box-sizing: border-box;
  margin: 1px;
  padding-bottom: 5px;
  padding: px;
  margin: 1p;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}

.element .lock {
  height: 12px;
}
.element:hover {
  background: black;
  color: white;
}

.atomic-no {
  font-size: 9px;
  text-align: left;
  padding: 0px 2px;
}

.name {
  font-size: 7px;
}

.disable {
  filter: grayscale(0.7);
  opacity: 0.2;
}
.symbol {
  font-size: 14px;
  font-weight: 500;
}

.ff6666 {
  border: 2px solid #f86969;
  color: #6d0000;
}
.fedead {
  border: 2px solid #f6b654;
  color: #ad5000;
}
.ffc0bf {
  border: 2px solid #455a64;
  color: #cccccc;
}
.ff99cb {
  border: 2px solid #660c39;
  color: #ffd1d9;
  border: 2px solid #660c39;
  color: #ffd1d9;
}
.ffbffe {
  border: 2px solid #ffd1d9;
  color: #660c39;
}
.cccccc {
  border: 2px solid #9e9e9e;
  color: #f9f9f9;
}
.e8e8e8 {
  border: 2px solid #d8c731;
  color: #514700;
}
.c1feff {
  border: 2px solid #46b0b2cc;
  color: #085d5f;
}
.f1ff90 {
  border: 2px solid #a0b221;
  color: #e1ffb1;
}
.cccc9a {
  border: 2px solid #8c6793;
  color: #e8e8e8;
}
