.backdrop {
  position: fixed;
  background: rgb(0 0 0 / 13%);
  height: 100vh;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

/* 100->backdrop and loader and element detail and sliders */
/* 101-> login and register form */
/* 102-> setting */
