.table-wrapper {
  position: relative;
  margin: auto;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table {
  display: flex;
  justify-content: center;
}
.block {
  align-items: flex-end;
  display: flex;
}

.f-block {
  margin-top: 20px;
}

.f-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
