.table-wrapper {
  position: relative;
}
.table {
  display: flex;
  justify-content: center;
}
.block {
  align-items: flex-end;
  display: flex;
}

.f-block {
  margin-top: 50px;
}

.f-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
