.model {
  position: fixed;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.544);
  border-radius: 4px;
  z-index: 1;
}
.hide {
  display: none;
}

.form-model {
  width: 70%;
  background: white;
  top: 30%;
  left: 15%;
  padding: 40px 0px;
}
