.control-wrapper {
  padding: 0px 60px;
  margin: 7px auto;
  color: rgb(45, 43, 43);
  border-radius: 2px;
}

.control-upper {
  display: flex;
  justify-content: space-between;
}
.control-lower {
  border-top: 2px solid #00000054;
  margin-top: 5px;
  padding-top: 5px;
}

button {
  outline: none;
}
.state-btn {
  letter-spacing: 1.1px;
  padding: 3px 8px;
  margin: 0px 4px;
  color: white;
  background: slategray;
  border: 1px solid rgb(87, 99, 111);
  cursor: pointer;
}

.control-state {
  display: inline;
}
.control-section {
  margin: 2px auto;
  display: flex;
  justify-content: space-between;
}
.number-btn {
  letter-spacing: 1.1px;
  padding: 2px 5px;
  margin: 0px 3px;
  color: white;
  background: slategray;
  border: 1px solid rgb(87, 99, 111);
  cursor: pointer;
}
.state-btn:hover {
  background: rgba(69, 72, 74, 0.884);
}
.number-btn:hover {
  background: rgba(69, 72, 74, 0.884);
}
.active-btn {
  background: rgba(69, 72, 74, 0.884);
}
