.input-box {
  margin: 20px 0px;
}

.form-model form {
  width: 200px;
  margin: auto;
}

.input-box input {
  padding: 5px 0px;
  width: 100%;
  outline: none;
}

.login-form-btn {
  border: 0px;
  margin-top: 20px;
  padding: 7px;
  background: rgb(30, 30, 98);
  color: white;
  display: block;
  width: 102%;
  cursor: pointer;
}

.register-form-btn {
  border: 1px solid;
  padding: 5px 30px;
  background: #9ccc65;
  color: white;
  cursor: pointer;
}

.invalid {
  border: 1px solid red;
}
