.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  width: 300px;
}

.link-seperator {
  width: 2px;
  display: block;
  height: 20px;
  background: #484848;
}

.nav-link {
  padding: 30px 30px;
  height: 100%;
  font-size: 15px;
  letter-spacing: 1.1px;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  color: white;
  border-bottom: 5px solid transparent;
}
.nav-link:hover {
  /* border-bottom: 5px solid #9ccc65; */
  transform: scale(1.1);
}

.active-link {
  color: #9ccc65;
  transform: scale(1.1);
}
